

<html>
  <head>
    <meta charset="utf-8" />

    <title>About New Jersey</title>
    
  </head>
  <body>
    <h1>All About NJ</h1>
    <h2> Basics </h2>
    <p>
      New Jersey is a state in the North East of the USA. Much of NJ is very densely populated, so when you look at the satellite view in google maps it looks mostly gray.
      But if you look at some parts of the state it is also very green. In addition to big cities and tons of highways, there are also farms and forests here.
    </p>
    <h2> Wildlife </h2>
    <p> You might think that you need to go to the Amazon or Africa or Costa Rica to see cool animals, but New Jersey has interesting animals as well! </p>
    <ul>
      <li> Blue Tailed Skink ( a cool lizard!) </li>
      <li> Grey Squirrels - Very cute rodents that live in trees. They have fluffy tails </li>
      <li> White tailed deer </li>
      <li> Bears </li>
      <li> Skunks </li>
      <li> Opossum - a weird looking Marsupial! Not from Australia - theyre from here! </li>
      <li> Many interesting bugs like bees, praying mantises, beetles, etc. </li>
      <li> Sea robins - a fish with legs and weird fins! Google these fish if you haven't seen them! </li>
      <li> A variety of cool freshwater fish like pickerel and bass </li>
      <li> Amphibians like salamanders and newts </li>
      <li> And so much more! </li>
    </ul>
    <h2> Living in NJ </h2>
    <p> Lots of traffic here.</p>
    <p> So many people here, it's very crowded in large parts of the state like Hudson, Essex and Bergen Counties.</p>
    <p> Ease of access to big cities like NYC, Philly and Boston </p>

  </body>
</html>